@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@font-face {
    font-family: 'Bebas-Neue-Light';
    src:  url('/fonts/Bebas-Neue-Light.ttf.woff') format('woff'),
    url('/fonts/Bebas-Neue-Light.ttf.svg#Bebas-Neue-Light') format('svg'),
    url('/fonts/fonts/Bebas-Neue-Light.ttf.eot'),
    url('/fonts/Bebas-Neue-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas-Neue';
    src:  url('/fonts/Bebas-Neue.ttf.woff') format('woff'),
    url('/fonts/Bebas-Neue.ttf.svg#Bebas-Neue') format('svg'),
    url('/fonts/Bebas-Neue.ttf.eot'),
    url('/fonts/Bebas-Neue.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #EEF1F2!important;
    color: #b3b3b3!important;
    padding-top: 50px;
}
aside, section{
    padding: 0!important;
}
header{
    height:50px;
    background-color: #FFFFFF;
    display: table!important;
    width: 100%;
}
header .logo{
    float: left;
    padding-left: 3px;
    margin-top: 13px;
}
header .notificaciones{
    float: right;
    text-transform: uppercase;
    padding-right: 10px;
    margin-top: 15px;
}
textarea{
    max-width: 100%;
}
.btn-group{
    float: right;
    margin: 0!important;
    padding: 0!important;
}

.notificaciones .badge{
    margin-top: -4px;
    background-color: #ED91A8;
}
.notificaciones i{
    color: #ED5179;
}
.notificaciones p{
    display: inline-block;
}
header .container{
    position: relative;
}
header .user {
    z-index: 99;
    padding: 10px;
    background-color: #F5F5F5;
    float: right;
    position: relative;
    margin-top: 4px;
}

header .userpanel{
    display: none;
    background-color: #F5F5F5;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: absolute;
    left: 0;
}
.rounded-border{
    border-radius: 3px;
}
.padding{
    padding-top: 7px!important;
    padding-bottom: 7px!important;
}
.padding-l{
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    padding-left: 7px!important;
}
.padding-r{
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    padding-right: 7px!important;
}

.publicaciones, .perfil, .ranking, .generalbox{
    background-color: #FFFFFF;
}
.publicaciones:not(:first-child){
    margin-top: 7px;
}
.perfil{
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.perfil .imgperfil{
    height: 100px;
    background-color: #2a88bd;
    border-radius: 3px 3px 0 0;
}
.imgperfil{
    overflow: hidden;
    position: relative;
}
.imgperfil img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.perfil .avatar{
    position: absolute;
    left: 10px;
    top: 60px;
    height: 60px;
    width: 60px;
    background-color: #2ab27b;
    border: 1px solid #ffffff;
}
.avatar{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.avatar img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 140%;
    max-width: none!important;
}
.nombre{
    font-weight: 600;
    font-size: 16px;
}
.perfil .nombre{
    left: 50px;
    top: 60px;
    padding-left: 75px;
}
.perfil .tittle{
    text-transform: uppercase;
    font-size: 13px;
}
.perfil .numeros{
    display: inline-block;
}

.perfil .tittle .total{
    color: #29ABE2;
    font-size: 22px;
    font-weight: 600;
    margin-top: -8px;
}
.publicaciones .avatar{
    height: 55px;
    width: 55px;
    background-color: #2ab27b;
    border: 1px solid #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.publicaciones h1, .login h1, .generalbox h1{
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 14px 9px;
    border-bottom: 2px solid #E6E6E6;
    margin: 0;
}
.publicaciones .content, .generalbox .content{
    padding: 12px;
}
.name{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2px;
}
.name .fecha{
    float: right;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
}
.anuncio .name, .seguir .name{
    margin-top: 0;
}
.publicaciones .post{
    display: inline-block;
    border-top: 1px solid #E6E6E6;
    width: 100%;
}
.publicaciones .post:first-of-type{
    border-top: none;
}

.publicaciones .post img{
    max-width: 100%;
}
.publicaciones .post .content img{
    margin-top: 5px;
}
.post p{
    margin-top: 10px;
    margin-bottom: 0;
}
.publicaciones .post textarea{
    margin-bottom: 5px;
    border-color: #6DC5EB;
}
.newpost{
    background-color: #DDF2FB;
}
.newpost .content{
    display: flex;
}
.newpost .newimage {
    float: left;
    font-size: 23px;
    padding-left: 10px;
    color: #53BDEB;
    cursor: pointer;
}
.inline{
    display: inline;
}
.newpost button{
    float: right;
}
.fileinput {
    margin-bottom: 0!important;
    width:100%;
}
.newpost .fileinput-exists{
    cursor: pointer;
}
.post form {
    display: inline-block;
    width: 100%;
}
.generalbox, .generalbox .content{
    float: left;
    width: 100%;
}

.generalbox button {
    float: right;
    margin-top: 10px;
}
.generalbox .dato{
    width: 100%;
    border-bottom: dashed 1px #ccc;
}

.generalbox .fila:last-child{
    margin-bottom: 10px;
}

.generalbox:not(:first-child){
    margin-top: 10px;
}

.edit, .cancel{
    color: #3097d1;
    text-decoration: none;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.cancel{
    padding-right: 15px;
}
.editdato{
    display: none;
}
.generalbox .fila:not(:first-child){
    margin-top: 15px;
}

.box{
    background-color: #FFFFFF;
    padding: 12px 14px;
    margin-bottom: 6px;
}
.box .alert {
    padding: 10px!important;
    margin-bottom: 10px!important;
}
.box h1{
    text-transform: uppercase;
    font-size: 14px;
    /*border-bottom: 2px solid #E6E6E6;*/
    margin: 0;
    padding-bottom: 10px;
}
.box ul{
    margin: 0;
    padding: 0;
}
.box ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
}
box ul a{
    text-decoration: none;
}
.box .lista{
    margin-top: 10px;
}
.box .lista span{
    padding: 0 5px 0 0;
    color: #ED5179;
    text-align: center;
    display: inline-block;
    min-width: 20px;
}
.box .lista span.badge{
    background-color: #ED91A8;
    color: #fff;
    padding: 3px 7px;
    margin-left: 10px;
    margin-top: -3px;
}
.box .anuncio, .box .seguir{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.seguir button{
    margin-top: 6px;
    background-color: white;
    border-color: #2a88bd;
    color: #2a88bd;
}
.seguir a{
    float: right;
}
.box .content{
    padding-left: 10px;
}
.box .content .tipo{
    margin-top: -5px;
}
.box .avatar{
    height: 55px;
    width: 55px;
    background-color: #2ab27b;
    border: 1px solid #ffffff;
    float: left;
}
.box .content{
    display: inline-block;
}
.login {
    background-color: #FFFFFF;
    max-width: 500px;
    margin: 0 auto;
}
.mainhome{
    text-align: center;
    margin-top: 85px;
}
.mainhome h2{
    font-family: Bebas-Neue-Light ;
    font-size: 65px;
}
.mainhome img{
    margin: 0 auto;
    width:100%;
}
.mainlogin{
    text-align: center;
    margin-top: 85px;
}

.btn-group.bootstrap-select{
    width:100% !important;
}
.filaseparator {
    border-bottom: 1px solid #CCC;
    margin-top: 15px;
}
.error{
    display: none;
    padding: 10px 15px!important;
    margin-top: 25px!important;
    margin-bottom: 0!important;
}
.fileinput .thumbnail {
    max-width: 300px;
}

.fileinput button{
    margin-top: 0;
    margin-left: 5px;
}
.fileinput form{
    display: none;
}
.mascota{
    position: relative;
    margin-bottom: 12px;
}
.mascota img{
    width: 100%;
}
.mascota button{
    position: absolute;
    right: 15px;
    bottom: 0;
}
.mascotas button {
    margin-top: 0!important;
}

@media (max-width: 768px) {
    .padding-r{
        padding-right: 0!important;
    }
    .padding-l{
        padding-left: 0!important;
    }
    .notificaciones p{
        display: none;
    }
}

@media (max-width: 550px) {
    .mainhome h2 {
        font-family: Bebas-Neue-Light;
        font-size: 45px;
    }
}

@media (max-width: 400px) {
    header .logo{
        width: 100%;
        margin-bottom: 5px;
    }
    header .logo img{
        width: auto;
    }
    header .user {
        float: left;
    }
    .notificaciones{
        width:100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    body {
        padding-top: 137px;
    }
}


